@import url('https://fonts.googleapis.com/css?family=Merriweather');

$font-color: #4d4d4d;
$font: 'Merriweather', serif;

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 700px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.container {
    display: inline-block;
    margin-top: 4rem;
}